<div class="content-wrapper">
    <h2>Raise an Issue</h2>
    <form>
      <div class="form-group">
        <h3>Kindly provide us the required details.</h3>
        <label for="labNo">Lab number</label>
        <input type="text" class="form-control" name="labNo" id="labNo" required>

        <label for="pcNo">PC number</label>
        <input type="text" class="form-control" name="pcNo" id="pcNo" required>

        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" id="title" required>

        <label for="name">Describe the issues you are facing.</label>
        <textarea  class="form-control" name="issues" id="issues" required></textarea>
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
</div>
