<div class="content-wrapper">
    <h2>Raise an Issue</h2>
    <form>
      <div class="form-group">
        <h3>Kindly provide us the required details.</h3>
        <label for="name">Lab number</label>
        <input type="text" class="form-control" id="name" required>

        <label for="name">PC number</label>
        <input type="text" class="form-control" id="name" required>

        <label for="name">Describe the issues you are facing.</label>
        <input type="text" class="form-control" id="name" required>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
