<div class="content-wrapper">
	<h2>Transfer PC</h2>
	<form>
		<div class="form-group">
			<h3>Let us move some PCs!</h3>

			<label for="name">Source Room</label>
			<input type="text" class="form-control" id="name" required>

			<label for="name">Destination Room</label>
			<input type="text" class="form-control" id="name" required>

			<label>Number of PCs</label>
			<input type="number" class="small"> to <input type="number" class="small">

			<label></label>
		</div>
	</form>

	<button type="submit" class="btn btn-success">Submit</button>
</div>