#updatePCs_header{
	display: inline-block;
	position: relative;
	margin-bottom: 40px;
}
#updatePCs_header:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 2px solid #e07a7a;
}

form{
	margin-left: 12px;
	border-radius: 8px;
	background-color: #E0E0E0;
	padding: 12px;
}
	fieldset{
		background-color: #EEEEEE;
		border-radius: 8px;
		border-color: #e07a7a;
		margin-bottom: 40px;
		padding: 20px;
	}

		legend{
			font-weight: bolder;
		}
			label{
				display: inline-block;
				width: 80px;
			}
			input[type=text]{
				width: 50%;
				max-width: 400px;
				margin: 10px;
			}
