<div class="content-wrapper">
  <h2>PC Manager</h2>

  <div #description class="description">
    <div class="des-Container">
      <span class="hidden" (click)="description.remove()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
      <strong>Tooltip </strong><i class="fa fa-info-circle" aria-hidden="true"></i>
      <br><br><p>
       You are now seeing all the rooms in the organisation. Click on a room to view the inventory within it.
        </p>
    </div>
  </div>
  <h3>
    <a routerLink="/all-labs" routerLinkActive="active">All Labs</a>
  </h3>

  <div class="display-wrap">

    <div  *ngFor="let lab of labs"> 
      <a [routerLink]="['/lab',lab.labNo]">
        <div class="panel">
        <i class="fa fa-television" aria-hidden="true"></i>
        <span>Lab {{lab.labNo}}</span>
      </div>
      </a>
      
    </div>
    
   
    
    



  </div>

</div>
