.content-wrapper {
  padding-left: 100px; }

@media only screen and (min-width: 768px) {
.content-wrapper {
  padding-left: 200px;
  } }

h2{
  padding: 20px;
  padding-left: 40px;
  margin: 0px;
  font-size: 2em;
  font-weight: 100;
  background-color: #ec4f5d;
  color: #f7f7f7;
}

h3{
  padding-top: 20px;
  padding-left: 30px;
  margin: 0px;
  font-size: 1.5em;
  font-weight: 100;
}

h3 a{
  text-decoration: none;
  color: #555;
}

h3 a:hover{
  text-decoration: underline;
  color: #777;
}

.display-wrap{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.panel{
  background-color: #efefef;
  border-radius: 2px;
  margin: 15px;
  transition: 0.4s;
  width: 200px;
  box-shadow: 2px 2px 2px #bbb;
  padding: 10px;
}

.panel:hover{
  box-shadow: 5px 5px 2px #bbb;
  cursor: pointer;
}

.panel span{
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  color: #777;
}

.panel i{
  padding-left: 20px;
  font-size: 1.5em;
  color: #777;
}
