<div class="content-wrapper">
  <h2>PC Manager</h2>

  <div #description class="description">
    <div class="des-Container">
      <span class="hidden" (click)="description.remove()">
        <i class="fa fa-times" aria-hidden="true"></i>
      </span>
      <strong>Tooltip </strong><i class="fa fa-info-circle" aria-hidden="true"></i>
      <br><br><p>
      Welcome to Relevo. This dashboard will get you started on the current issues
      in this lab. The organisation summary gives you a bird's eye view of the
      entire inventory list.
      </p>
    </div>
  </div>

  <h3>
    <a routerLink="/all-labs" routerLinkActive="active">All Labs</a> /
    <a routerLink="/view" routerLinkActive="active">Lab 509</a>
  </h3>

  <div class="display-wrap">

    <div class="panel">
      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">

      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">

      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">

      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">

      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">

      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">

      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">

      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">

      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">

      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">

      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">

      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">

      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">

      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">

      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

  </div>
</div>
