.content-wrapper {
  padding-left: 100px; }

@media only screen and (min-width: 768px) {
.content-wrapper {
  padding-left: 200px;
  } }

h2{
  padding: 20px;
  padding-left: 40px;
  margin: 0px;
  font-size: 2em;
  font-weight: 100;
  background-color: #ec4f5d;
  color: #f7f7f7;
}

/* TOOLTIP CSS*/
.description{
  padding: 20px;
  padding-left: 40px;
  margin: 0px;
  font-weight: 100;
  background-color: #555;
  color: #f7f7f7;
  letter-spacing: 0.05em;
}

.description .des-Container{
  width: 90%;
  margin: 0 auto;
}

.description .hidden{
  display: none;
}

.description:hover .hidden{
  display: inline;
  float: right;
  font-size: 1.5em;
  cursor: pointer;
}

/****************************/

h3{
  padding-top: 20px;
  padding-left: 30px;
  margin: 0px;
  font-size: 1.5em;
  font-weight: 100;
}

h3 a{
  text-decoration: none;
  color: #555;
}

h3 a:hover{
  text-decoration: underline;
  color: #777;
}

.display-wrap{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.panel{
  background-color: #efefef;
  border-radius: 5px;
  margin: 15px;
  width: 200px;
  transition: 0.4s;
  box-shadow: 2px 2px 2px #bbb;
}

.panel:hover{
  box-shadow: 5px 5px 2px #bbb;
  cursor: pointer;
}

.pcNo{
  font-size: 1.5em;
  padding: 5px;
  font-weight: lighter;
  border-bottom: 2px solid #ccc;
  color: #ec4f5d;
  display: block;
  text-align: center;
  width: 70%;
  margin-top: 20px;
}

.pcNo i{
  padding-right: 5px;
}

.modified{
  color: #666;
  display: block;
  margin: 10px 10px;
  font-size: 0.9em;
}

.issue{
  color: #666;
  display: block;
  margin: 10px 10px;
}
