<div class="content-wrapper">
  <h2>PC Manager</h2>

  <h3>
    <a href="#">All Labs</a> /
    <a href="#">Lab 509</a>
  </h3>

  <div class="display-wrap">

    <div class="panel">
      <span class="pcNo">509-19</span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">
      <span class="pcNo">509-19</span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">
      <span class="pcNo">509-19</span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">
      <span class="pcNo">509-19</span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">
      <span class="pcNo">509-19</span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">
      <span class="pcNo">509-19</span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>
    <div class="panel">
      <span class="pcNo">509-19</span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">
      <span class="pcNo">509-19</span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">
      <span class="pcNo">509-19</span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>
    <div class="panel">
      <span class="pcNo">509-19</span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">
      <span class="pcNo">509-19</span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">
      <span class="pcNo">509-19</span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>
    <div class="panel">
      <span class="pcNo">509-19</span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">
      <span class="pcNo">509-19</span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">
      <span class="pcNo">509-19</span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>
    <div class="panel">
      <span class="pcNo">509-19</span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">
      <span class="pcNo">509-19</span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">
      <span class="pcNo">509-19</span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>
    <div class="panel">
      <span class="pcNo">509-19</span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">
      <span class="pcNo">509-19</span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">
      <span class="pcNo">509-19</span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

  </div>
</div>
