<div class="content-wrapper">
  <h2>PC Manager</h2>

  <h3>
    <a routerLink="/all-labs" routerLinkActive="active">All Labs</a> /
    <a routerLink="/view" routerLinkActive="active">Lab 509</a>
  </h3>

  <div class="display-wrap">

    <div class="panel">
      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">

      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">

      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">

      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">

      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">

      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">

      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">

      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">

      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">

      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">

      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">

      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">

      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">

      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

    <div class="panel">

      <span class="pcNo">
        <i class="fa fa-television" aria-hidden="true"></i>
        509-19
      </span>
      <span class="modified">Last modified 17 Jan 2017</span>
      <span class="issue">No Issues</span>
    </div>

  </div>
</div>
