<div class="content-wrapper">

  <h2>Dashboard</h2>

  <div class="description">

    <p>Hello user,
    <br>
    <br>
    Welcome to Relevo. A complete software for hardware inventory
    management.
    </p>

  </div>

  <h3>Organisation Summary</h3>

  <div class="display-wrap">

    <div class="panel">
      <span class="numbers">251</span>
      <span class="sub-heading">Total Labs</span>
    </div>

    <div class="panel">
      <span class="numbers">2357</span>
      <span class="sub-heading">Total PCs</span>
    </div>

    <div class="panel">
      <span class="numbers">14</span>
      <span class="sub-heading">Unsolved <br> Issues</span>
    </div>

  </div>

</div>
