.content-wrapper {
  padding-left: 100px; }

@media only screen and (min-width: 768px) {
.content-wrapper {
  padding-left: 200px;
  } }

h2{
  padding: 20px;
  padding-left: 40px;
  margin: 0px;
  font-size: 2em;
  font-weight: 100;
  background-color: #ec4f5d;
  color: #f7f7f7;
}

.description{
  padding: 20px;
  padding-left: 40px;
  margin: 0px;
  font-weight: 100;
  background-color: #555;
  color: #f7f7f7;
}

.display-wrap{
  display: flex;
  flex-wrap: wrap;

}

h3{
  padding: 20px;
  padding-left: 40px;
  margin: 0px;
  font-size: 2em;
  font-weight: 100;
  color: #555;
}

.panel{
  background-color: #e7e7e7;
  border-radius: 5px;
  margin: 15px;
  transition: 0.4s;
  box-shadow: 2px 2px 2px #bbb;
  padding: 20px;
}

.panel:hover{
  box-shadow: 5px 5px 2px #bbb;
  cursor: pointer;
}

.numbers{
  font-size: 3em;
  font-weight: 100;
  display: block;
  padding: 10px;
  color: #ec4f5d;
  text-align: center;
}

.sub-heading{
  text-align: center;
  display: block;
  color: #555;
}

.description .hidden{
  display: none;
}

.description:hover .hidden{
  display: inline;
  float: right;
  font-size: 1.5em;
  cursor: pointer;
}

.left{
  width: 50%;
  float: left;
}
.calender{
  width: 400px;
  height: 400px;
  margin: 30px;
  margin-top: 20px;
  margin-right: 100px;
  float: right;
}

.rightpanel{
  float: right;
  padding: 20px;
}

.leftpanel{
  float: left;
  background-color: #eee;
  padding: 20px;
  border: 1px solid #ddd;
}

.rightpanel ul{
  list-style-type: none;
}

.panel2{
  background-color: #e7e7e7;
  border-radius: 5px;
  margin: 15px;
  transition: 0.4s;
  box-shadow: 2px 2px 2px #bbb;
}

.panel2:hover{
  box-shadow: 5px 5px 2px #bbb;
}

.pcName{
  font-weight: bold;
  color: #555;
}

.issueDesc{
  color: #666;
}

li{
  padding: 5px;
}

li a{
  text-decoration: none;
}

li a:hover{
  text-decoration: underline;
}

.rightpanel h4{
  color: #888;
  font-weight: 100;
  padding: 5px;
}

.calender h4{
  font-size: 1.7em;
  font-weight: 100;
  color: #555;
  padding-bottom: 10px;
}

.calender h5{
  font-size: 0.9em;
  font-weight: 100;
  color: #777;
  padding-bottom: 10px;
}
