<nav class="side-nav">
        <div class="logo">
          <img src="assets/images/vesit.png" alt="logo">
        </div>

        <ul>
          <li>
            <a>
              <span class="icons">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
            </span>
            <span class="text">Kaushal</span>
          </a>
        </li>
          <li>
            <a routerLink="/login" routerLinkActive="active" (click)="logout()">
              <span class="icons">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
            </span>
            <span class="text">Logout</span>
          </a>
        </li>

          <br>
          <li>
            <a routerLink="/add" routerLinkActive="active">
              <span class="icons">
                <i class="fa fa-cog" aria-hidden="true"></i>
              </span>
              <span class="text">Add New PCs</span>
            </a>
          </li>
          <li><a routerLink="/delete" routerLinkActive="active">
            <span class="icons">
              <i class="fa fa-times" aria-hidden="true"></i>
            </span>
            <span class="text">Delete PCs</span>
          </a>
        </li>
          <li>
            <a routerLink="/crisis-center" routerLinkActive="active">
              <span class="icons">
                <i class="fa fa-history" aria-hidden="true"></i>
              </span>
              <span class="text">Track History</span>
            </a>
          </li>
          <li>
            <a routerLink="/view" routerLinkActive="active">
              <span class="icons">
                <i class="fa fa-desktop" aria-hidden="true"></i>
              </span>
              <span class="text">Manage PCs</span>
            </a>
          </li>
          <li>
            <a routerLink="/update" routerLinkActive="active">
              <span class="icons">
                <i class="fa fa-refresh" aria-hidden="true"></i>
              </span>
              <span class="text">Update PCs</span>
            </a>
          </li>
          <li>
            <a routerLink="/crisis-center" routerLinkActive="active">
            <span class="icons">
              <i class="fa fa-plane" aria-hidden="true"></i>
            </span>
            <span class="text">Transfer PCs</span>
          </a>
        </li>
          <li>
            <a routerLink="/issue" routerLinkActive="active">
              <span class="icons">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </span>
            <span class="text">Raise an issue</span>
          </a>
        </li>
          <li>
            <a routerLink="/crisis-center" routerLinkActive="active">
              <span class="icons">
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
            </span>
            <span class="text">Generate a report</span>
          </a>
        </li>

        </ul>
      </nav>
