<div class="content-wrapper">
    <h2>Add PC - Lab {{labNo}}</h2>
    <form>
      <div class="form-group">
        <span>STEP 1 OF 3 :</span>
        <h3>PC Identification</h3>
        <label for="name">Lab number</label>
        <input type="number" class="form-control" name="labno"id="name" [(ngModel)]="pc.labNo" required>

        <label for="name">Number of PCs to be added</label>
        <input type="number" class="form-control"name="noofpcs" [(ngModel)]="noOfPc" required>
      </div>
      <div class="form-group">
        <span>STEP 2 OF 3 :</span>
        <h3>System Settings</h3>
        <label for="name">Processor</label>
        <input type="text" class="form-control" name="processor"[(ngModel)]="pc.currentConfig.processor"id="name" required>

        <label for="name">Installed Memory (RAM)</label>
        <input type="text" class="form-control" id="name"name="memory"[(ngModel)]="pc.currentConfig.memory" required>

        <label for="name">Graphics</label>
        <input type="text" class="form-control" id="name"name="graphics"[(ngModel)]="pc.currentConfig.graphics" required>
      </div>
      <div class="form-group2">
        <span>STEP 3 OF 3 :</span>
        <h3>Peripeherals</h3>
        <input type="search" name="" value="Keyboard">
        <input type="submit" name="" value=" + Add">

        <label for="alterEgo">Mouse</label>
        <input type="text" class="form-control" id="alterEgo"name="mouse"[(ngModel)]="pc.currentConfig.peripherals.mouse">

        <label for="alterEgo">Speaker</label>
        <input type="text" class="form-control" id="alterEgo"name="speaker"[(ngModel)]="pc.currentConfig.peripherals.speaker">

        <button type="submit" class="btn btn-success" (click)="submit()">Submit</button>
      </div>
    </form>
</div>
