<div class="content-wrapper">
    <h2>Add PC</h2>
    <form>
      <div class="form-group">
        <h3>1. PC Identification</h3>
        <label for="name">Lab number</label>
        <input type="text" class="form-control" id="name" required>

        <label for="name">Number of PCs to be added</label>
        <input type="number" class="form-control" id="name" required>

        <label for="name">Auto increment PC number?</label>
        <input type="checkbox" class="form-control" id="name" required>
      </div>
      <div class="form-group">
        <h3>2. System Settings</h3>
        <label for="name">Processor</label>
        <input type="text" class="form-control" id="name" required>

        <label for="name">Memory</label>
        <input type="text" class="form-control" id="name" required>

        <label for="name">Graphics</label>
        <input type="text" class="form-control" id="name" required>
      </div>
      <div class="form-group">
        <h3>3. Peripeherals</h3>
        <label for="alterEgo">Keyboard</label>
        <input type="text" class="form-control" id="alterEgo">

        <label for="alterEgo">Mouse</label>
        <input type="text" class="form-control" id="alterEgo">

        <label for="alterEgo">Speaker</label>
        <input type="text" class="form-control" id="alterEgo">

      </div>

      <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
