.content-wrapper {
  padding-left: 100px; }

@media only screen and (min-width: 768px) {
.content-wrapper {
  padding-left: 200px;
  } }

h2{
  padding: 20px;
  padding-left: 40px;
  margin: 0px;
  font-size: 2em;
  font-weight: 100;
  background-color: #ec4f5d;
  color: #f7f7f7;
}

/* TOOLTIP CSS*/
.description{
  padding: 20px;
  padding-left: 40px;
  margin: 0px;
  font-weight: 100;
  background-color: #555;
  color: #f7f7f7;
  letter-spacing: 0.05em;
}

.description .des-Container{
  width: 90%;
  margin: 0 auto;
}

.description .hidden{
  display: none;
}

.description:hover .hidden{
  display: inline;
  float: right;
  font-size: 1.5em;
  cursor: pointer;
}

/****************************/

h3{
  padding-top: 20px;
  padding-left: 30px;
  margin: 0px;
  font-size: 1.5em;
  font-weight: 100;
}

h3 a{
  text-decoration: none;
  color: #555;
}

h3 a:hover{
  text-decoration: underline;
  color: #777;
}

.display-wrap{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

h4{
  font-size: 1.5em;
  font-weight: 100;
  padding: 25px;
  color: #ec4f5d;
}
