<div class="content-wrapper">
  <h2>PC Manager</h2>

  <h3>
    <a href="#">All Labs</a> /
    <a href="#">Lab 509</a> /
    <a href="#">PC 509-19</a>
  </h3>

  <div class="display-wrap">

    <div class="details">
      <span class="pcNo">509-19</span>
       <div class="detail-group">
        <h3>System Settings</h3>
        <p>Processor</p>
        <p>Installed Memory (RAM)</p>
        <p>Graphics</p>
      </div>
      <div class="detail-group">
        <h3>Peripeherals</h3>
        <p>Mouse</p>
        <p>Speaker</p>
      </div>
      <button id="btn1">UPDATE</button>
      <button id="btn2">DELETE</button>

    </div>
  </div>
</div>
